<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html>
<head>
<title>Flipkart - India's fashion capital!</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Women's Fashion Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/css/fasthover.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="static/js/jquery.min.js"></script>
<!-- //js -->
<!-- countdown -->
<link rel="stylesheet" href="static/css/jquery.countdown.css" />
<!-- //countdown -->
<!-- cart -->
<script src="static/js/simpleCart.min.js"></script>
<!-- cart -->
<!-- for bootstrap working -->
<script type="text/javascript" src="static/js/bootstrap-3.1.1.min.js"></script>
<!-- //for bootstrap working -->
<!-- start-smooth-scrolling -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- //end-smooth-scrolling -->

<style>
.button {
    background-color: #ff9b05;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>
</head>
	
<body>
<!-- header -->
	<div class="modal fade" id="myModal88" tabindex="-1" role="dialog" aria-labelledby="myModal88"
		aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;</button>
					<h4 class="modal-title" id="myModalLabel">
						Don't Wait, Login now!</h4>
				</div>
				<div class="modal-body modal-body-sub">
					<div class="row">
						<div class="col-md-8 modal_body_left modal_body_left1" style="border-right: 1px dotted #C2C2C2;padding-right:3em;">
							<div class="sap_tabs">	
								<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
									<ul>
										<li class="resp-tab-item" aria-controls="tab_item-0"><span>Sign in</span></li>
										<li class="resp-tab-item" aria-controls="tab_item-1"><span>Sign up</span></li>
									</ul>		
									<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
										<div class="facts">
											<div class="register">
												<form action="#" method="post">			
													<input name="Email" placeholder="Email Address" type="text" required="">						
													<input name="Password" placeholder="Password" type="password" required="">										
													<div class="sign-up">
														<input type="submit" value="Sign in"/>
													</div>
												</form>
											</div>
										</div> 
									</div>	

									<div class="tab-2 resp-tab-content" aria-labelledby="tab_item-1">
										<div class="facts">
											<div class="register">
												<form action="#" method="post">			
													<input placeholder="Name" name="Name" type="text" required="">
													<input placeholder="Email Address" name="Email" type="email" required="">	
													<input placeholder="Password" name="Password" type="password" required="">	
													<input placeholder="Confirm Password" name="Password" type="password" required="">
													<div class="sign-up">
														<input type="submit" value="Create Account"/>
													</div>
												</form>
											</div>
										</div>
									</div> 			        					            	      
								</div>	
							</div>
							<script src="static/js/easyResponsiveTabs.js" type="text/javascript"></script>
							<script type="text/javascript">
								$(document).ready(function () {
									$('#horizontalTab').easyResponsiveTabs({
										type: 'default', //Types: default, vertical, accordion           
										width: 'auto', //auto or any width like 600px
										fit: true   // 100% fit in a container
									});
								});
							</script>
							<div id="OR" class="hidden-xs">
								OR</div>
						</div>
						<div class="col-md-4 modal_body_right modal_body_right1">
							<div class="row text-center sign-with">
								<div class="col-md-12">
									<h3 class="other-nw">
										Sign in with</h3>
								</div>
								<div class="col-md-12">
									<ul class="social">
										<li class="social_facebook"><a href="#" class="entypo-facebook"></a></li>
										<li class="social_dribbble"><a href="#" class="entypo-dribbble"></a></li>
										<li class="social_twitter"><a href="#" class="entypo-twitter"></a></li>
										<li class="social_behance"><a href="#" class="entypo-behance"></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$('#myModal88').modal('show');
	</script>
	<div class="header">
		<div class="container">
			<div class="w3l_login">
				<a href="#" data-toggle="modal" data-target="#myModal88"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
			</div>
			<div class="w3l_logo">
				<h1><a href="index.html">Flipkart Fashion</a></h1>
			</div>
			<div class="search">
				<input class="search_box" type="checkbox" id="search_box">
				<label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
				<div class="search_form">
					<form action="#" method="post">
						<input type="text" name="Search" placeholder="Search...">
						<input type="submit" value="Send">
					</form>
				</div>
			</div>
			<div class="cart box_1">
				<a href="checkout.html">
					<div class="total">
					<span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)</div>
					<img src="images/bag.png" alt="" />
				</a>
				<p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
				<div class="clearfix"> </div>
			</div>	
			<div class="clearfix"> </div>
		</div>
	</div>
	
<!-- banner -->
	<div class="banner" id="home1">
		<div class="container">
			<h3>Flipkart fashion, <span>india's fashion capital!</span></h3>
		</div>
	</div>
<!-- //banner -->

<!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="container">
			<div class="col-md-3 wthree_banner_bottom_left">
				<div class="video-img"></div>
			</div>
			<div class="col-md-9 wthree_banner_bottom_right">
				<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
					<ul id="myTab" class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home">Necklaces</a></li>
						<li role="presentation"><a href="#skirts" role="tab" id="skirts-tab" data-toggle="tab" aria-controls="skirts">Earrings</a></li>
						<li role="presentation"><a href="#watches" role="tab" id="watches-tab" data-toggle="tab" aria-controls="watches">Tiaras</a></li>
						<li role="presentation"><a href="#sandals" role="tab" id="sandals-tab" data-toggle="tab" aria-controls="sandals">Tops</a></li>
						<li role="presentation"><a href="#jewellery" role="tab" id="jewellery-tab" data-toggle="tab" aria-controls="jewellery">Goggles</a></li>
						<li role="presentation"><a href="#dresses" role="tab" id="dresses-tab" data-toggle="tab" aria-controls="dresses">Frocks</a></li>
					</ul>
					
					<!--Necklaces -->
					<div id="myTabContent" class="tab-content">
						<div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
							<div class="agile_ecommerce_tabs">
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Necklace1/1.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Pendant</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.200</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Necklace1/1.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST', file_path='static,images,Necklace1,1.png') }}">Try it Now!</a></p>
										
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Necklace1/2.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Silver Necklace</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Necklace1/2.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Necklace1,2.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Necklace1/3.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Silver Necklace</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Necklace1/3.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Necklace1,3.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Necklace1/4.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Silver Necklace</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Necklace1/4.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Necklace1,4.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Necklace1/5.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Thread necklace</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.150</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Necklace1/5.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Necklace1,5.png') }}">Try it Now!</a></p>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						
						<!-- Earrings -->
						<div role="tabpanel" class="tab-pane fade" id="skirts" aria-labelledby="skirts-tab">
							<div class="agile_ecommerce_tabs">
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Earrings2/1.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal6-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Studs</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.100</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Earrings2/1.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Earrings2,1.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Earrings2/2.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal6-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Goldwork earrings</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Earrings2/2.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Earrings2,2.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Earrings2/4.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal6-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Goldwork earrings</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Earrings2/3.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Earrings2,3.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Earrings2/5.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal6-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Goldwork earrings</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Earrings2/4.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Earrings2,4.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Earrings2/6.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal6-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Goldwork earrings</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Earrings2/5.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Earrings2,5.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Earrings2/3.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal6-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Hangings</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Earrings2/6.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Earrings2,6.png') }}">Try it Now!</a></p>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						
						<!--Head gears-->
						<div role="tabpanel" class="tab-pane fade" id="watches" aria-labelledby="watches-tab">
							<div class="agile_ecommerce_tabs">
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tiaras3/2.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal2-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Single Maang Tika</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tiaras3/2.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tiaras3,2.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tiaras3/3.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal2-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Tiara</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.125</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tiaras3/3.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tiaras3,3.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tiaras3/5.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal2-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Tiara</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.125</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tiaras3/5.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tiaras3,5.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tiaras3/6.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal2-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Tiara</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.125</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tiaras3/6.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tiaras3,6.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tiaras3/8.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal2-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Tiara</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.125</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tiaras3/8.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tiaras3,8.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tiaras3/9.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal2-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Floral</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tiaras3/9.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tiaras3,9.png') }}">Try it Now!</a></p>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						
						<!-- Tops-->
						<div role="tabpanel" class="tab-pane fade" id="sandals" aria-labelledby="sandals-tab">
							<div class="agile_ecommerce_tabs">
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tops4/12.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal3-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Brown Hat</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tops4/12.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tops4,12.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tops4/13.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal3-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Hats</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tops4/13.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tops4,13.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tops4/7.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal3-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Hats</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tops4/7.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tops4,7.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tops4/3.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal3-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Hats</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tops4/3.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tops4,3.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tops4/5.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal3-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Hats</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tops4/5.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tops4,5.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Tops4/4.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal3-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Kids hats</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Tops4/4.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Tops4,4.png') }}">Try it Now!</a></p>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						
						<!--Goggles-->
						<div role="tabpanel" class="tab-pane fade" id="jewellery" aria-labelledby="jewellery-tab">
							<div class="agile_ecommerce_tabs">
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Sunglasses6/1.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal4-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Goggles</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Sunglasses6/1.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Sunglasses6,1.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Sunglasses6/2.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal4-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Sun glasses</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Sunglasses6/2.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Sunglasses6,2.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Sunglasses6/4.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal4-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Sun glasses</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Sunglasses6/4.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Sunglasses6,4.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Sunglasses6/5.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal4-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Sun glasses</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Sunglasses6/5.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Sunglasses6,5.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Sunglasses6/6.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal4-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Shades</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Sunglasses6/6.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Sunglasses6,6.png') }}">Try it Now!</a></p>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						
						<!--Dresses-->
						<div role="tabpanel" class="tab-pane fade" id="dresses" aria-labelledby="dresses-tab">
							<div class="agile_ecommerce_tabs">
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Frocks5/1.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal4-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Frock</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Frocks5/1.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Frocks5,1.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Frocks5/2.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal4-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Customized top</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Frocks5/2.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Frocks5,2.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Frocks5/3.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal4-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Customized top</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Frocks5/3.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Frocks5,3.png') }}">Try it Now!</a></p>
									</div>
								</div>
								
								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Frocks5/4.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal4-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Customized top</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
										<form ><p><input type=button onclick="addToCart('static/images/Frocks5/4.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Frocks5,4.png') }}">Try it Now!</a></p>
									</div>
								</div>

								<div class="col-md-4 agile_ecommerce_tab_left">
									<div class="hs-wrapper">
										<img src="static/images/Frocks5/5.png" alt=" " class="img-responsive" />
										<div class="w3_hs_bottom">
											<ul>
												<li>
													<a href="#" data-toggle="modal" data-target="#<!--myModal4-->"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
												</li>
											</ul>
										</div>
									</div>
									<h5>Light pink Top</h5>
									<div class="simpleCart_shelfItem">
										<p><span>Rs.320</span> <i class="item_price">Rs.250</i></p>
									<form ><p><input type=button onclick="addToCart('static/images/Frocks5/5.png')" value="Add to cart" /></p></form>
                                        <p><a class="item_add" href="{{ url_for('tryon',method='POST',
                                        file_path='static,images,Frocks5,5.png') }}">Try it Now!</a></p>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						
					</div>
				</div>
					<!--modal-video-->
					
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //banner-bottom -->

<center>
<button id= "check_out" align="center" class="button">Try & Checkout</button>
</center>
<script type="text/javascript">

	var CART = []
	
	function addToCart(product) {
		if(CART.indexOf(product) == -1){
			CART.push(product)
		}
		   alert("Added Product To Cart")
	}
	
	function checkOut(){
		alert("IN CheckOUT")
		return CART.join(' ')
	}
	
	function runPyScript(input){
		alert("IIIIN CheckOUT")
		var jqXHR = $.ajax({
			type: "POST",
			url: "/tryall",
			async: false,
			data: { mydata: input }
		});
	
		return jqXHR.responseText;
	}
	
	$('#check_out').click(function(){
		alert("IN CheckOUT")
		datatosend = CART.join(' ');
		result = runPyScript(datatosend);
	});
	</script>

</body>
</html>